<p>Lista de productos</p>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Stock</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.nombre}}</td>
            <td>{{product.precio}}</td>
            <td>{{product.tipo}}</td>
            <td><span class="badge rounded-pill text-bg-danger" *ngIf="product.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer [(cantidad)]="product.cantidad" [max]="product.stock" *ngIf="product.stock"></app-input-integer>
                <button class="btn btn-outline-primary" (click)="addToCart(product)">Añadir</button>
            </td>
    </tbody>
</table>